:root {
    --Background: rgba(34, 48, 126, 0.795);
    --White: #fff;
    --Black: rgb(37, 37, 37);
    --FontColor: rgba(199, 195, 195, 0.875);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.75rem;
}

body {
    background-color: var(--Background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    border-radius: 0.3rem;
    background-color: var(--White);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    height: 20rem;
    margin: 3rem;
    transform: translateY(-20px);
    font-size: 0.9rem;
    resize: none;
    padding: 20px 20px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxes {
    border-radius: 7px;
    background-color: var(--Black);
    color: var(--White);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 300px;
    transform: translateY(165px);
    gap: 0.5rem;
}
    .box {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        transform: translateY(-10px);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .box::before {
        padding-top: 0.4rem;
        content: attr(data-text);
        color: var(--FontColor);
        position: absolute;
        height: 10px;
        width: 200px;
        font-size: 0.9rem;
        transform: translateY(13px);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }